.ha_container {
  height: 70vh;
  width: 100%;
  position: relative;
}

.ha_background {
  height: 100%;
  width: 100%;
  background-image: url('../../assets/Store.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* This creates the darkening overlay */
.ha_background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the last value (0.6) for darkness level */
}

.ha_content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.ha_content h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.ha_content p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.ha_info {
  margin-top: 2rem;
}

.ha_info p {
  font-size: 1rem;
  margin: 0.5rem 0;
}
