.logo {
	width: 9rem;
}

.nav-items {
	font-family: "Quintessential", serif;
  	font-weight: 400;
  	font-style: normal;
}

@media (max-width: 1024px) {
	.logo {
		width: 9rem;
	}
}

@media (max-width: 768px) {
	.logo {
		width: 5rem;
	}
}

@media (max-width: 480px) {
	.logo {
		width: 3rem;
	}
}
